a:hover {
    color: mediumspringgreen;
    text-decoration: none;
}

.col-sm-12 {
    background-color: mediumorchid;
    color: white;
}

#profile p {
    font-size: 96%;
}

.col-sm-6 {
    padding: 3%;
}

.col-sm-6 h1,p,a {
    color: white;;
}

.col-sm-6 img {
    border-radius: 50%;
    max-width: 100px;
}

/* Contato */
#media img {
    border-radius: 20%;
    width: 50px;
    height: 50px;
    margin-left: 1px;
    margin-right: 1px;
}

.background-image {
    background-color: white;
}

/* Habilidades */
#skills {
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
}

@media only screen and (min-width: 600px) {
    
}

#works {
    padding: 0%;
    padding-left: 11%;
    padding-right: 11%;
}

.miniimg img {
    border-width: 10px;
    max-width: 100%;
    width: 75%;
    height: 150px;
    border-radius: 0%;
}

.maxFont {
    font-size: 120%;
}

/* Personalidade */
#personality-title h1 {
    text-align: center;
    letter-spacing: -2.0px;
    padding-top: 3%;
}

#personality {
    padding: 3%;
}

@media only screen and (max-width: 600px) {
    .large-characteristics {
      display: none;
    }

    .mobile-characteristics {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .large-skills {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .large-characteristics p {
      margin-top: -1%;
    }

    .mobile-characteristics {
      display: none;
    }

    .mobile-skills {
      display: none;
    }
}

.max-percent {
    color: mediumspringgreen;
}

.col img {
    border-radius: 50%;
    max-width: 100px;
}