<div class="container">
    <div class="col-sm-12">
  
        <!--Luis Delgado-->
        <div class="row">
            <div id="profile" class="col-sm-6 text-center">
                <img src="assets/images/luisDelgado.jpg"><br><br>
                <h1>Luís Delgado</h1>
                <p><b>Pós-graduando em Design de Interação<br>para Artefatos Digitais</b><br>(CESAR School)</p>
                <a href="https://cin.ufpe.br/~tg/2018-2/"><b>Graduado em Ciência da Computação</b><br>(Universidade Federal de Pernambuco)</a><br>
                <a href="http://lattes.cnpq.br/2825730035004500">Lattes</a><br>
                <a href="assets/files/curriculo.pdf" target="_blank">CV</a><br>
                <a href="mailto:luishdelgados10@gmail.com">luishdelgados10@gmail.com</a>
            </div>
            <div class="col-sm-6">
                <h1 align="center">Resumo</h1>
                <p align="justify">É Desenvolvedor de Inovação e Tecnologia no Instituto SENAI de Inovação para TICs (ISI-TICs). Foi Monitor de Engenharia de Software e Sistemas
                    no Centro de Informática (CIn) da Universidade Federal de Pernambuco (UFPE) e Estagiário no ISI-TICs, onde desempenhou atividades de engenharia de software bem
                    como o desenvolvimento <i>full-stack</i> de sistemas voltados para a Indústria 4.0 em âmbito nacional e regional. Além disso, tem experiência na área de 
                    design, gestão de negócios e inovação provinda de duas <i>startups</i>: Biciflow (Cofundador & COO) e Navegue (Cofundador & Desenvolvedor).</p>
            
                <!--Contato-->
                <div class="row">
                        <div id="media" class="col-sm-12 text-center">
                            <br><a href="https://www.facebook.com/luis.delgado.5209000"><img src="assets/images//imgresFace.png"></a>
                            <a href="https://www.instagram.com/luisdelgado7/"><img src="assets/images//instagram.png"></a>
                            <a href="https://www.linkedin.com/in/luís-henrique-delgado-santos-29ab68a7"><img src="assets/images//imgresIn.png"></a>
                            <a href="https://www.twitter.com/carequinha10"><img src="assets/images//twitter.png"></a>
                            <a href="https://github.com/luisdelgado"><img src="assets/images//GitHub-Mark.png"></a>
                            <a href="https://letterboxd.com/luisdelgado/"><img src="assets/images//letterboxd.jpg"></a>
                            <a href="https://luisdelgados.medium.com/"><img src="assets/images//medium.png"></a>
                            <a href="https://www.behance.net/luishdelgado"><img src="assets/images//behance.jpg"></a>
                        </div>
                </div>
            </div>
        </div>
  
        <!--Habilidades-->
        <div class="col-sm-12 text-center">
            <h1>Principais Habilidades</h1>
        </div>
        <div id="skills" class="container">
            <div class="row large-skills maxFont">
                <div class="col-sm-6 text-center">
                    <p>Java<br>Desenvolvimento de Software<br>Gestão de Projeto<br>JavaScript<br>HTML</p>
                </div>
                <div class="col-sm-6 text-center">
                    <p>Capacidade de Organização<br>Escrita Criativa<br>GitHub<br>Scrum<br>Eclipse<br>
                </div>
            </div>
            <div class="row mobile-skills maxFont">
                <div class="col-sm-6 text-center">
                    <p>Java<br>Desenvolvimento de Software<br>Gestão de Projeto<br>JavaScript<br>HTML
                        <br>Capacidade de Organização<br>Escrita Criativa<br>GitHub<br>Scrum<br>Eclipse</p>
                </div>
            </div>
        </div>
  
        <!--Ultimos Trabalhos-->
        <div class="col-sm-12 text-center">
            <h1>Últimos Trabalhos</h1>
        </div>
        <div class="container">
            <div id="works" class="row" align="center">
                <div class="col-sm-6 miniimg text-center">
                <a href="https://biciflow.com"><img class="img-fluid img-thumbnail miniimg" src="assets/images//biciflow.png" alt="Biciflow"></a>
                </div>
                <div class="col-sm-6 miniimg text-center">
                <a href="https://navegue.app"><img class="img-fluid img-thumbnail miniimg" src="assets/images//navegue.png" alt="Navegue"></a>
                </div>
            </div>
            <div id="works" class="row">
                <div class="col-sm-6 miniimg text-center">
                <a href="https://mapeamento40.mctic.gov.br/"><img class="img-fluid img-thumbnail miniimg" src="assets/images//mapa40.png" alt="Mapa40"></a>
                </div>
                <div class="col-sm-6 miniimg text-center">
                <a href="https://www.instagram.com/p/BylWlLNHygv/?utm_source=ig_web_copy_link"><img class="img-fluid img-thumbnail miniimg" src="assets/images//chopeira40.jpg" alt="Chopeira 4.0"></a>
                </div>
            </div>
  
            <div class="col-sm-12 text-center">
                <a href="assets/files/saude.pdf">Saúde 10 anos no futuro</a><br>
                <a href="assets/files/esports.pdf">ESports</a><br>
                <a href="https://drive.google.com/drive/folders/0BxZ55toyE2dlOEpTLXZQS3BBSzg">Polyedron</a><br>
                <a href="https://play.google.com/store/apps/details?id=br.com.ufpe.busrate">BusRate</a><br>
                <a href="https://m4nuela22.github.io/projetoVisualizacao/index.html">Acidentes de Trânsito no Recife</a><br>
                <a href="http://www.co2energia.com.br/">CO2Energia</a><br>
            </div>
        </div>

        <!--Personalidade-->
        <div id="personality-title" class="col-12">
            <h1>Personalidade</h1>
        </div>
        <div id="personality" class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="assets/images/personality.svg"><br>
                    <br><a href="https://www.16personalities.com/br/personalidade-esfj">Personalidade: Cônsul</a><br>
                    <a href="https://www.16personalities.com/articles/roles-sentinels">Papel: Sentinela</a><br>
                    <a href="https://www.16personalities.com/articles/strategies-people-mastery">Estratégia: Líder com Pessoas</a>
                </div>
                <div class="col-sm-8 large-characteristics text-center">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p>Extrovertido</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">56%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Introvertido</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p>Intuitivo</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 46%" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">46%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Observador</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p>Pensamento</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 36%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">36%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Emoção</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p>Organizado</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Flexível</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p>Confiante</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="progress">  
                                <div class="progress-bar" role="progressbar" style="width: 51%" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Consciente</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 mobile-characteristics text-center">
                    <div>
                        <p><span class="max-percent">Extrovertido  56</span> | 44 Introvertido</p>
                    </div>
                    <div>
                        <p>Intuitivo 46 | <span class="max-percent">54 Observador</span></p>
                    </div>
                    <div>
                        <p>Pensamento 36 | <span class="max-percent">64 Emoção</span></p>
                    </div>
                    <div>
                        <p><span class="max-percent">Organizado 72</span> | 28 Flexível</p>
                    </div>
                    <div>
                        <p><span class="max-percent">Confiante 51</span> | 49 Consciente</p>
                    </div>
                </div>
            </div>
        </div>
  
        <!--Outros-->
        <div class="row">
            <div class="col-sm-6 text-center">
                <h1>Livros</h1>
                <p>Um relato escrito, é um relato jamais esquecido. Assim nasce a história.<br></p>
                <a href="assets/files/AsCronicasDeBill.pdf">As Crônicas de Bill, o bardo</a>
            </div>
            <div class="col-sm-6 text-center">
                <h1>Blog</h1>
                <p>Todo homem é artista. Alguns se esquecem por se prenderem a níveis elevados de realidade. O que eles não sabem é que no limite da realidade só há arte.
                    Esse blog é uma moradia da arte. Aqui a arte circula livre para ser sentida.<br></p>
                <a href="https://umnovodiaparaviver.tumblr.com/">Vivendo o Tempo</a>
            </div>
        </div>
    </div>
  </div>